body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #78be21;
}



nav li a {
    font-size: large;
    font-weight: 800;

}

.container {
    background-color: rgb(227, 223, 223);
    height: 80vh;
    border-radius: 3%;

}

h1 {
    text-align: center;
    margin: 3%;
    padding-top: 7%;
    font-size: 3em;
    font-weight: bold;
    color: rgb(246, 133, 133);
}

h2 {
    text-align: center;
    margin: 5%;
    padding-top: 5%;
    font-size: 2em;
    color: rgb(117, 163, 243);
}

.container a {
    text-align: center;

}

.btn {
    background-color: #78be21;
    margin-bottom: -15%;
    margin-left: 25%;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    padding: 2%;

}